# Data
data/raw/
*.csv
*.tsv
*.pdf
data/extractions/1_raw_text/
data/extractions/2_cleaned_text/
data/extractions/4_logs/
data/analysis/*.json
data/analysis/*.jsonl
data/analysis/*.txt

# Models
*.pt
*.pth
*.ckpt
*.bin
*.h5
*.pkl

# Logs
logs/
runs/
wandb/

# Python
__pycache__/
*.pyc
.env
venv/

# IDE
.vscode/
.idea/

# Google drive
.tmp.drivedownload/
.tmp.driveupload/

# Auth
Auth/*.json